---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';
import MainLayout from 'layouts/main-layout.astro';
import { formatPublishedAt, formatReadingTime } from 'lib/blog';

export const getStaticPaths = (async () => {
  const mdxPosts = await getCollection('blog', ({ data }) => data.isPublished);
  return mdxPosts.map((entry) => {
    return {
      params: {
        slug: entry.slug,
      },
      props: {
        entry,
      },
    };
  });
}) satisfies GetStaticPaths;

export type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout title={`${entry.data.title} – Georgiy Tarasov`} description={entry.data.summary} type="article">
  <meta slot="head" property="article:published_time" content={formatPublishedAt(entry.data.publishedAt)} />
  <article class="mx-auto mb-16 flex w-full max-w-2xl flex-col items-start justify-center">
    <h1 class="mb-4 text-3xl font-bold tracking-tight md:text-5xl">{entry.data.title}</h1>
    <p class="mr-2 mt-2 text-sm text-gray-700 dark:text-gray-300">
      {entry.data.publishedAt} / {formatReadingTime(entry.body)}
    </p>
    <div class="prose mt-8 w-full max-w-none dark:prose-dark">
      <Content />
    </div>
  </article>
</MainLayout>
